hw13.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "[\"0\"]",
              "field2": "[\"0\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "5dd62752-5a52-4da3-9018-95856fa56477",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.2,
      "position": [
        700,
        980
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "0",
              "value": "={{ $json.year }}"
            },
            {
              "name": "1",
              "value": "={{ $json.months[0].days }}"
            },
            {
              "name": "2",
              "value": "={{ $json.months[1].days }}"
            },
            {
              "name": "3",
              "value": "={{ $json.months[2].days }}"
            },
            {
              "name": "4",
              "value": "={{ $json.months[3].days }}"
            },
            {
              "name": "5",
              "value": "={{ $json.months[4].days }}"
            },
            {
              "name": "6",
              "value": "={{ $json.months[5].days }}"
            },
            {
              "name": "7",
              "value": "={{ $json.months[6].days }}"
            },
            {
              "name": "8",
              "value": "={{ $json.months[7].days }}"
            },
            {
              "name": "9",
              "value": "={{ $json.months[8].days }}"
            },
            {
              "name": "10",
              "value": "={{ $json.months[9].days }}"
            },
            {
              "name": "11",
              "value": "={{ $json.months[10].days }}"
            },
            {
              "name": "12",
              "value": "={{ $json.months[11].days }}"
            },
            {
              "name": "13",
              "value": "={{ $json.statistic.workdays }}"
            },
            {
              "name": "14",
              "value": "={{ $json.statistic.holidays }}"
            },
            {
              "name": "15",
              "value": "={{ $json.statistic.hours40 }}"
            },
            {
              "name": "16",
              "value": "={{ $json.statistic.hours36 }}"
            },
            {
              "name": "17",
              "value": "={{ $json.statistic.hours24 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd6ec0c0-d996-4353-8c2b-eced2bdf2cf0",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        420,
        1040
      ]
    },
    {
      "parameters": {
        "options": {
          "headerRow": true,
          "readAsString": true
        }
      },
      "id": "c13128b1-1870-4a6b-a79d-6f4c522f9d7f",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        420,
        720
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "0",
              "value": "={{ $json[\"Год/Месяц\"] }}"
            },
            {
              "name": "1",
              "value": "={{ $json[\"Январь\"] }}"
            },
            {
              "name": "2",
              "value": "={{ $json[\"Февраль\"] }}"
            },
            {
              "name": "3",
              "value": "={{ $json[\"Март\"] }}"
            },
            {
              "name": "4",
              "value": "={{ $json[\"Апрель\"] }}"
            },
            {
              "name": "5",
              "value": "={{ $json[\"Май\"] }}"
            },
            {
              "name": "6",
              "value": "={{ $json[\"Июнь\"] }}"
            },
            {
              "name": "7",
              "value": "={{ $json[\"Июль\"] }}"
            },
            {
              "name": "8",
              "value": "={{ $json[\"Август\"] }}"
            },
            {
              "name": "9",
              "value": "={{ $json[\"Сентябрь\"] }}"
            },
            {
              "name": "10",
              "value": "={{ $json[\"Октябрь\"] }}"
            },
            {
              "name": "11",
              "value": "={{ $json[\"Ноябрь\"] }}"
            },
            {
              "name": "12",
              "value": "={{ $json[\"Декабрь\"] }}"
            },
            {
              "name": "13",
              "value": "={{ $json[\"Всего рабочих дней\"] }}"
            },
            {
              "name": "14",
              "value": "={{ $json[\"Всего праздничных и выходных дней\"] }}"
            },
            {
              "name": "15",
              "value": "={{ $json[\"Количество рабочих часов при 40-часовой рабочей неделе\"] }}"
            },
            {
              "name": "16",
              "value": "={{ $json[\"Количество рабочих часов при 36-часовой рабочей неделе\"] }}"
            },
            {
              "name": "17",
              "value": "={{ $json[\"Количество рабочих часов при 24-часовой рабочей неделе\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3ee13104-3c97-49b1-8ea4-1251e5952f58",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        560,
        720
      ]
    },
    {
      "parameters": {},
      "id": "a53351de-3ad1-49c4-9339-62836007e071",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        900
      ]
    },
    {
      "parameters": {
        "url": "http://xmlcalendar.ru/data/ru/2022/calendar.json",
        "options": {}
      },
      "id": "f178b9f7-28ee-44ac-b9e9-15a5af876d09",
      "name": "HTTP get JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        280,
        1040
      ]
    },
    {
      "parameters": {
        "url": "http://xmlcalendar.ru/data/ru/2022/calendar.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "05e79b8b-8e56-410a-b975-5e9840cff1d9",
      "name": "HTTP get CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        280,
        720
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP get CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP get JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP get JSON": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP get CSV": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "7ab81597-e8ef-4e41-9eef-dfc21a86039b",
  "id": "2",
  "meta": {
    "instanceId": "5cde27e71a87036f7269203daad984f21d4805d37ae73748d4cdc39a8c2be1a0"
  },
  "tags": []
}